extend layout
block content
    ul.memeList
        each mapping, name in mappings
            li.meme
                img(src='/#{name}/______/______', width="200px")
                p.json #{originalUrl}/#{mapping.templatePath}
