extend layout
block content
    ul.memeList
        each mapping, name in mappings
            li.meme
                img(src=mapping.imageUrl, width="200px")
                p.json #{originalUrl}/#{name}/_____/_____
