doctype html
html
    head
        title #{title} - Memebot
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 Memebot
        .container
            .main-content
                block content
