doctype html
html
    head
        title #{title} - Memebot
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            a.brand(href='/') Memebot
        .container
            .main-content
                .search
                    form(action='/search', method='GET')
                        input.search(name='q', placeholder='search for new memes', type='text')
                        button
                            p go!
                block content
