.meme-modal
    .create-meme
        p.title
        img.create-meme
        .templates
        button.control(type='submit')
            p go!
    .display-meme
        p.title
        img.display-meme
script(type='text/javascript', src='/js/createMeme.js')
