.create-modal
    .create-meme
        p.title
        img.create-meme
        form.create-meme(action='/', method='POST')
            input.control(name='topText', placeholder='top caption')
            input.control(name='bottomText', placeholder='bottom caption')
            input.control(id='generatorId', name='generatorId', type='hidden')
            input.control(id='imageId', name='imageId',type='hidden')
            button.control(type='submit')
                p go!
script(type='text/javascript', src='/js/createMeme.js')
